<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AdminDashBoardFilter</filter-name>
        <filter-class>filter.AdminDashBoardFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExpertDashBoardFilter</filter-name>
        <filter-class>filter.ExpertDashBoardFilter</filter-class>
    </filter>
    <filter>
        <filter-name>VerifyFilter</filter-name>
        <filter-class>filter.VerifyFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GetPasswordFilter</filter-name>
        <filter-class>filter.GetPasswordFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GuestFilter</filter-name>
        <filter-class>filter.GuestFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminDashBoardFilter</filter-name>
        <servlet-name>AdminDashBoardController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExpertDashBoardFilter</filter-name>
        <servlet-name>ExpertDashBoardController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <servlet-name>ChangePassController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <servlet-name>LoginController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <servlet-name>RegisterController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <servlet-name>ForgotPasswordController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GetPasswordFilter</filter-name>
        <servlet-name>GetPasswordController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VerifyFilter</filter-name>
        <servlet-name>VerifyCodeController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeController</servlet-name>
        <servlet-class>controller.VerifyCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPasswordController</servlet-name>
        <servlet-class>controller.GetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeForgotController</servlet-name>
        <servlet-class>controller.VerifyCodeForgotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendCodeController</servlet-name>
        <servlet-class>controller.ResendCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizHandleController</servlet-name>
        <servlet-class>controller.QuizHandleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizReviewController</servlet-name>
        <servlet-class>controller.QuizReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizListController</servlet-name>
        <servlet-class>controller.QuizListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizLevelController</servlet-name>
        <servlet-class>controller.FilterQuizByLevelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizCategoryController</servlet-name>
        <servlet-class>controller.FilterQuizBySubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizDetailController</servlet-name>
        <servlet-class>controller.QuizDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllSubjectController</servlet-name>
        <servlet-class>controller.GetAllSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailController</servlet-name>
        <servlet-class>controller.SubjectDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResendCodeController</servlet-name>
        <url-pattern>/resend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPasswordController</servlet-name>
        <url-pattern>/GetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeForgotController</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizReviewController</servlet-name>
        <url-pattern>/quizReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizHandleController</servlet-name>
        <url-pattern>/QuizHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizListController</servlet-name>
        <url-pattern>/QuizList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizLevelController</servlet-name>
        <url-pattern>/QuizLevel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizCategoryController</servlet-name>
        <url-pattern>/QuizCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizDetailController</servlet-name>
        <url-pattern>/QuizDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllSubjectController</servlet-name>
        <url-pattern>/GetAllSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailController</servlet-name>
        <url-pattern>/SubjectDetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
